body{
    height: 100vh;
    background: black;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.playpause-track{
   
   display: flex;
   
}
.main::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.main video{
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.main-content {
    z-index: 10;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.stop {
    display: none;
}